#%RAML 1.0
title: BookMyHotelAPI
baseUri: http://bookmyhotel.com
mediaType: 
<<<<<<< HEAD
- application/json
resourceTypes:
  collection: !include  resource\collection.raml
    
=======
  - application/json

securitySchemes:
  basicAuth: !include security\basicAuth.raml
  clienyIdEnforcement: !include security\ClientIdEnforcement.raml
securedBy:
  - basicAuth
  - clienyIdEnforcement
uses:
  traitsLib: libraries/TraitsLibrary.raml
  resTypesLib:  libraries/ResourceTypesLibrary.raml
  dataTypesLib: libraries/DataTypesLibrary.raml
>>>>>>> 9d1aa4f26a8d9e108c62cd74794f848f8c4dfc65



/registrations:
<<<<<<< HEAD
  type: collection
      
  post:
    displayName: POST Registration
    description: Add a new Registration
    headers:
      Content-Type: 
    body:
      Registration
    responses:
      201:
        headers:
          Location:
            example: http://bookmyhotel.com/registrations/r1     
      500:
        headers:
          Content-Type: 
        body:
          Error
  /{registrationId}:
    displayName: Registration 
    description: Specific Registration
    get:
      displayName: GET Registration
      description: Retrieve a specific Registration
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:
            Registration
        404:
          headers:
            Content-Type: 
          body:
            Error
    patch:
      displayName: PATCH Registration
      description: Update a specific Registration
      headers:
        Content-Type: 
      body:
        Registration
      responses:
        204:
        500:
          headers:
            Content-Type: 
          body:
            Error
    delete:
      displayName: DELETE Registration
      description: Delete a specific Registration
      headers:
        Accept?: 
      responses:
        200:
          headers:
            Content-Type: 
          body:
            Status
        404:
          headers:
            Content-Type: 
          body:
            Error
/hotels:
  type: collection
  get:
    headers:
      Accept?: 
        example: application/json
=======
  type: resTypesLib.collection
  get:
  post:
  securedBy:
    - clienyIdEnforcement
  /{registrationId}:
    type: resTypesLib.member
    get:
    patch:
    delete:
/hotels:
  type: resTypesLib.collection
  get:
>>>>>>> 9d1aa4f26a8d9e108c62cd74794f848f8c4dfc65
    queryParameters:
      city:
        required: false
      state:
        required: false
      country:
        required: false
<<<<<<< HEAD
    responses:
      200:
        headers:
          Content-Type: 
        body:
          Hotel[]
   
  
=======
  post:
   securedBy:
    - clienyIdEnforcement
>>>>>>> 9d1aa4f26a8d9e108c62cd74794f848f8c4dfc65
  /{hotelId}:
    type: resTypesLib.member
    get:
    patch:
    delete:
    /bookings:
<<<<<<< HEAD
    type: collection
=======
      description: Bookings of specific Hotel
      type: resTypesLib.collection
      get:
        
>>>>>>> 9d1aa4f26a8d9e108c62cd74794f848f8c4dfc65
/bookings:
  type: resTypesLib.collection
  get:
  post:
   securedBy:
    - clienyIdEnforcement
  /{bookingId}:
    type: resTypesLib.member
    get:
    patch:
<<<<<<< HEAD
      displayName: PATCH Booking 
      description: Update a specific Booking
      body:
        Booking
      responses:
        204:
        500:
          headers:
            Content-Type: 
          body:
            Error
    delete:
      displayName: DELETE Booking 
      description: Delete a specific Booking
      headers:
        Accept?:
      responses:
        200:
          headers:
            Content-Type: 
          body:
            Status
        404:
          headers:
            Content-Type: 
          body:
            Error
=======
    delete:
>>>>>>> 9d1aa4f26a8d9e108c62cd74794f848f8c4dfc65
